[loggers]
keys:root, run, checker_site_data_differences, validate, get_accounts, download_soup

[logger_run]
level:DEBUG
qualname:brevardChecker.run
handlers:rotatingFileHandler,consoleHandler
propagate:0

[logger_get_soup]
level:DEBUG
qualname:soupHandler.SoupHandler.get_soup
handlers:rotatingFileHandler,consoleHandler
propagate:0

[logger_download_soup]
level:DEBUG
qualname:soupHandler.SoupHandler.download_soup
handlers:rotatingFileHandler,consoleHandler
propagate:0

[logger_validate]
level:DEBUG
qualname:brevardChecker.BrevardAccountChecker.validate
handlers:rotatingFileHandler,consoleHandler
propagate:0

[logger_get_accounts]
level:DEBUG
qualname:brevardChecker.SheetHandler.get_accounts
handlers:rotatingFileHandler,consoleHandler
propagate:0

[logger_checker_site_data_differences]
level:DEBUG
qualname:brevardChecker.SiteData.differences
handlers:rotatingFileHandler,consoleHandler
propagate:0

# These entries are standard, but you need to change the location for the logs in [handler_rotatingFileHandler]:
[logger_root]
level:WARN
handlers:rotatingFileHandler,consoleHandler
propagate:0

[handler_consoleHandler]
class:StreamHandler
formatter:logFormatter
args:(sys.stdout,)

[handler_rotatingFileHandler]
class=logging.handlers.RotatingFileHandler
level=NOTSET
args=('/var/log/brevardChecker.log', 'a', 100000, 3)
formatter=logFormatter

[formatter_logFormatter]
format:%(asctime)s.%(msecs)03d:%(levelname)s: %(filename)s[%(lineno)d] - %(message)s
datefmt:%Y-%m-%d %H:%M:%S

[handlers]
keys:consoleHandler,rotatingFileHandler

[formatters]
keys:logFormatter
